/* Global */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato";
}
/* Orange Action Bootstrap-Styled Button */
.btn-action {   
  background-color: hsl(44, 100%, 56%) !important; 
  background-repeat: repeat-x; 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc31e", endColorstr="#ffc31e"); 
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffc31e), to(#ffc31e)); 
  background-image: -moz-linear-gradient(top, #ffc31e, #ffc31e); 
  background-image: -ms-linear-gradient(top, #ffc31e, #ffc31e); 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc31e), color-stop(100%, #ffc31e)); 
  background-image: -webkit-linear-gradient(top, #ffc31e, #ffc31e); 
  background-image: -o-linear-gradient(top, #ffc31e, #ffc31e); 
  background-image: linear-gradient(#ffc31e, #ffc31e); 
  border-color: #ffc31e #ffc31e hsl(44, 100%, 56%); 
  color: #333 !important; 
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00); 
  -webkit-font-smoothing: antialiased;
}
.btn-action:hover {
  background-color: hsl(38, 100%, 54%) !important; 
  background-repeat: repeat-x; 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa814", endColorstr="#ffa814"); 
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffa814), to(#ffa814)); 
  background-image: -moz-linear-gradient(top, #ffa814, #ffa814); 
  background-image: -ms-linear-gradient(top, #ffa814, #ffa814); 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa814), color-stop(100%, #ffa814)); 
  background-image: -webkit-linear-gradient(top, #ffa814, #ffa814); 
  background-image: -o-linear-gradient(top, #ffa814, #ffa814); 
  background-image: linear-gradient(#ffa814, #ffa814); 
  border-color: #ffa814 #ffa814 hsl(38, 100%, 54%); 
  color: #333 !important; 
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00); 
  -webkit-font-smoothing: antialiased;
}
.btn {
  border-radius: 0;
}
.fake_link {
  cursor: pointer;
}
.clear_both {
  clear: both;
}

/* Map */
#map {
  height: 100%;
}

/* Top left block */
.top_left_block {
  position: absolute;
  top: 0.5em;
  left: 8em;
  z-index: 5;
}

/* Top right block*/
#top_right_block {
  position: absolute;
  top: 0.5em;
  right: 6em;
  opacity: 0.95;
}
#top_right_block ul li:first-child {
  margin-top: -0.5em !important;
}
@media only screen 
  and (max-device-width: 600px) {
  #top_right_block {
    right: 3em;
  }
}
#recently_sold_alert, #recently_leased_alert {
  display: none;
}
#cash_display {
  opacity: 1;
}
.leaderboard_link {
  cursor: pointer;
}
.cash_dropdown {
  padding: 0.5em;
}
.money_info_item {
  font-weight: bold;
}
.green_money {
  color: #009E00;
}
.red_money {
  color: #FF0000;
}
.leaderboard_link {
  width: 100%;
}
.current_world {
  padding: 0.2em;
  border: 0.2em solid #000;
  border-radius: 0.2em;
}
.logout_button {
  color: #ffffff !important;
  font-weight: bold !important;
  margin-bottom: 1em;
}
.logout_button:hover {
  color: #000000 !important;
}
.landgrab_menu .btn {
  color: #fff;
  font-weight: bold;
}

/* Center Block */
.center_block {
  display: none;
  position: absolute;
  top: 15vh;
  max-height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  left: 30%;
  width: 40%;
  background: #fff;
  padding: 1em;
  border-radius: 1em;
}
@media only screen 
  and (max-device-width: 600px) {
  .center_block {
    left: 5%;
    width: 90%;   
  }
}
.leaderboard_block {
  top: 5vh;
  max-height: 90vh;
}
.center_block strong {
  font-size: 1.4em;
}
.exit_center_block {
  float: right;
}
.register_to_play {
  color: #444488;
  background: #FFC31E;
  font-weight: bold;
}
#bankruptcy_block {
  z-index: 10;
}

/* InfoWindow */
.land_window {
  overflow-x: hidden;
}
#land_form .row {
  margin-right: 0;
}
#land_form textarea {
  height: 3em;
}
.alert-green {
  background: #5CB85C;
  color: #fff;
}
.alert-blue {
  background: #428BCA;
  color: #fff;
}
.alert-wide {
  min-width: 12em;
  text-align: center;
}
/* Prevent user HTML input from screwing up view */
/* Specificity rules are very specific here */
html body .land_window img, .land_window img[style] {
  max-height: 25vh !important;
  max-width: 25vw !important;
}
html body .land_content_div, html body .land_content_div[style] {
  max-height: 200px !important;
  overflow: auto !important;
}

/* Overlay */
#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.9;
}
#overlay p {
  font-size: 2em;
  color: #222;
  position: absolute;
  text-align: center;
  top: 30vh;
  left: 40%;
  width: 20%;
  background: #fff;
  padding: 0.5em;
}
#loading {
    width: 50px;
}

/* Page Not Found */
.page_not_found_cont {
  background: #5555ee;
  height: 100vh;
}
.page_not_found_cont h3, .page_not_found_cont a, .page_not_found_cont a:hover {
  color: #eeeeee;
}