/* Global */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato";
}
/* Orange Action Bootstrap-Styled Button */
.btn-action {   
  background-color: hsl(44, 100%, 56%) !important; 
  background-repeat: repeat-x; 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc31e", endColorstr="#ffc31e"); 
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffc31e), to(#ffc31e)); 
  background-image: -moz-linear-gradient(top, #ffc31e, #ffc31e); 
  background-image: -ms-linear-gradient(top, #ffc31e, #ffc31e); 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc31e), color-stop(100%, #ffc31e)); 
  background-image: -webkit-linear-gradient(top, #ffc31e, #ffc31e); 
  background-image: -o-linear-gradient(top, #ffc31e, #ffc31e); 
  background-image: linear-gradient(#ffc31e, #ffc31e); 
  border-color: #ffc31e #ffc31e hsl(44, 100%, 56%); 
  color: #333 !important; 
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00); 
  -webkit-font-smoothing: antialiased;
}
.btn-action:hover {
  background-color: hsl(38, 100%, 54%) !important; 
  background-repeat: repeat-x; 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa814", endColorstr="#ffa814"); 
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffa814), to(#ffa814)); 
  background-image: -moz-linear-gradient(top, #ffa814, #ffa814); 
  background-image: -ms-linear-gradient(top, #ffa814, #ffa814); 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa814), color-stop(100%, #ffa814)); 
  background-image: -webkit-linear-gradient(top, #ffa814, #ffa814); 
  background-image: -o-linear-gradient(top, #ffa814, #ffa814); 
  background-image: linear-gradient(#ffa814, #ffa814); 
  border-color: #ffa814 #ffa814 hsl(38, 100%, 54%); 
  color: #333 !important; 
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00); 
  -webkit-font-smoothing: antialiased;
}

/* Map */
#map {
  height: 100%;
}

/* Top right block*/
#top_right_block {
  position: absolute;
  top: 0.5em;
  right: 6em;
  opacity: 0.9;
}
#cash_display {
  opacity: 1;
}
.leaderboard_link {
  cursor: pointer;
}
.cash_dropdown {
  padding: 0.5em;
}
.money_info_item {
  font-weight: bold;
}
.green_money {
  color: #009E00;
}
.red_money {
  color: #FF0000;
}
.logout_button {
  color: #ff0000 !important;
  font-weight: bold !important;
  margin-bottom: 1em;
}

/* Center Block */
.center_block {
  display: none;
  position: absolute;
  top: 30vh;
  left: 30%;
  width: 40%;
  background: #fff;
  padding: 1em;
  border-radius: 1em;
}
.leaderboard_block {
  top: 5vh !important;
}
.center_block strong {
  font-size: 1.4em;
}
.exit_center_block {
  float: right;
}

/* Land Form */
.register_to_play {
  color: #444488;
  background: #FFC31E;
  font-weight: bold;
}
#land_form .row {
  margin-right: 0;
}
#land_form textarea {
  height: 3em;
}

/* Overlay */
#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.9;
}
#overlay p {
  font-size: 2em;
  color: #222;
  position: absolute;
  text-align: center;
  top: 30vh;
  left: 40%;
  width: 20%;
  background: #fff;
  padding: 0.5em;
}
#loading {
    width: 50px;
}