/* Global */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
/* Orange Action Bootstrap-Styled Button */
.btn-action {   
  background-color: hsl(44, 100%, 56%) !important; 
  background-repeat: repeat-x; 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc31e", endColorstr="#ffc31e"); 
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffc31e), to(#ffc31e)); 
  background-image: -moz-linear-gradient(top, #ffc31e, #ffc31e); 
  background-image: -ms-linear-gradient(top, #ffc31e, #ffc31e); 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc31e), color-stop(100%, #ffc31e)); 
  background-image: -webkit-linear-gradient(top, #ffc31e, #ffc31e); 
  background-image: -o-linear-gradient(top, #ffc31e, #ffc31e); 
  background-image: linear-gradient(#ffc31e, #ffc31e); 
  border-color: #ffc31e #ffc31e hsl(44, 100%, 56%); 
  color: #333 !important; 
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00); 
  -webkit-font-smoothing: antialiased;
}
.btn-action:hover {
  background-color: hsl(38, 100%, 54%) !important; 
  background-repeat: repeat-x; 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa814", endColorstr="#ffa814"); 
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffa814), to(#ffa814)); 
  background-image: -moz-linear-gradient(top, #ffa814, #ffa814); 
  background-image: -ms-linear-gradient(top, #ffa814, #ffa814); 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa814), color-stop(100%, #ffa814)); 
  background-image: -webkit-linear-gradient(top, #ffa814, #ffa814); 
  background-image: -o-linear-gradient(top, #ffa814, #ffa814); 
  background-image: linear-gradient(#ffa814, #ffa814); 
  border-color: #ffa814 #ffa814 hsl(38, 100%, 54%); 
  color: #333 !important; 
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00); 
  -webkit-font-smoothing: antialiased;
}
.btn {
  border-radius: 0;
}
.text-action {
  color: #FF7C00;
}
.text-purple {
  color: #78286B;
}
.text-yellow {
  color: #BDAF20;
}
.text-red {
  color: #E60006;
}

/* Map */
#map {
  height: 100%;
}

/* Top left block */
.top_left_block {
  position: absolute;
  top: 0.5em;
  left: 8em;
  z-index: 5;
}

/* Top right block*/
#top_right_block {
  position: absolute;
  top: 0.5em;
  right: 6em;
  opacity: 0.95;
}
#top_right_block ul li:first-child {
  margin-top: -0.5em !important;
}
#mobile_stat_dropdown {
  display: none;
}
@media only screen and (max-device-width: 600px) {
  body #stat_dropdown, body .main_menu_parent {
    display: none;
  }
  body #mobile_stat_dropdown {
    display: inline;
  }
  #top_right_block {
    right: 0.5em;
  }
  .menu_element {
    display: block;
    float: right;
    clear: both;
  }
  body #land_block, body #budget_block, body #account_update_block {
    width: 95vw;
    left: 2vw;
    top: 2vh;
    min-height: 95vh;
  }
  #info_tag {
    display: none;
  }
  #leaderboard_table thead tr th:nth-child(1),
  #leaderboard_table thead tr th:nth-child(3),
  #leaderboard_table thead tr th:nth-child(5),
  #leaderboard_table thead tr th:nth-child(6),
  #leaderboard_table thead tr th:nth-child(7),
  #leaderboard_table thead tr th:nth-child(8),
  #leaderboard_table tbody tr td:nth-child(1),
  #leaderboard_table tbody tr td:nth-child(3),
  #leaderboard_table tbody tr td:nth-child(5),
  #leaderboard_table tbody tr td:nth-child(6),
  #leaderboard_table tbody tr td:nth-child(7),
  #leaderboard_table tbody tr td:nth-child(8)
  {
      display: none;
  }
  #leaderboard_table thead tr th:nth-child(0) {
    width: 10vw;
  }
}
.stats_listing li {
  margin-right: 1em;
  margin-left: 0.5em;
}
.leaderboard_link {
  cursor: pointer;
}
.leaderboard_link {
  width: 100%;
}
.current_world {
  padding: 0.2em;
  border: 0.2em solid #000;
  border-radius: 0.2em;
}
.logout_button {
  color: #ffffff !important;
  font-weight: bold !important;
  margin-bottom: 1em;
}
.logout_button:hover {
  color: #000000 !important;
}
.user_dropdown_menu {
  left: -20em;
}
.landgrab_menu .btn {
  color: #fff;
  font-weight: bold;
}

/* Tutorial */
#tutorial_block {
  display: none;
  position: absolute;
  max-width: 25vw;
  top: 1.5em;
  left: 1em;
  padding: 0.2em;
  background: #FFD87C;
  border-radius: 0.2em;
  z-index: 100;
}
#tutorial_title {
  font-size: 3em;
  font-family: 'Cookie', cursive;
}
#tutorial_text {
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
}
.exit_tutorial {
  font-size: 1.2em;
}

/* Images */
#account_nation_flag_image, #account_leader_portrait_image {
  max-width: 100%;
  max-height: 100px;
}
.land_nation_flag_image, .land_leader_portrait_image {
  max-width: 100%;
  max-height: 50px;
}

/* Center Block */
.center_block {
  display: none;
  position: absolute;
  top: 15vh;
  max-height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  left: 30%;
  width: 40%;
  background: #fff;
  padding: 1em;
  border-radius: 1em;
  z-index: 10;
}
@media only screen and (max-device-width: 600px) {
  .center_block {
    left: 5%;
    width: 90%;   
  }
}
#budget_block {
  left: 5%;
  width: 90%;
  top: 10vh;
  height: 80vh;
}
.budget_info_value {
  float: right;
  clear: both;
}
.budget_info_desc_highlight {
  font-weight: 400;
  color: #31708f;
}
.leaderboard_block {
  top: 10vh;
  max-height: 85vh;
  width: 80vw;
  left: 10vw;
}
.leaderboard_leader_portrait, .leaderboard_nation_flag {
  max-width: 75px;
  max-height: 75px;
}
.leaderboard_username, .leaderboard_nation_name {
  word-break: break-all;
}
#leaderboard_table {
  width: 100% !important;
}
.center_block strong {
  font-size: 1.4em;
}
.exit_center_block {
  float: right;
}
.register_to_play {
  color: #444488;
  background: #FFC31E;
  font-weight: bold;
}

/* Beta */
#info_tag {
  position: absolute;
  bottom: 15px;
  right: 60px;
  padding: 0.2em;
  background: #fff;
  opacity: 0.9;
  font-size: 1.1em;
}

/* Land Block */
.input_to_label {
  background:rgba(0,0,0,0);
  border:none;
}
.coord_label {
  margin-right: 1em;
}
#land_block {
  width: 30%;
  top: 10vh;
  left: 60%;
}
#land_form .row {
  margin-right: 0;
}
#land_form textarea {
  height: 4em;
}
.alert-green {
  background: #5CB85C;
  color: #fff;
}
.alert-blue {
  background: #428BCA;
  color: #fff;
}
.alert-wide {
  min-width: 12em;
  text-align: center;
}
.upgrade_submit {
  width: 70%;
}
.expand_land_type_info {
  width: 25%;
}
.effect_pair {
  font-weight: bold;
}
#land_info_div {
  font-weight: bold;
}
.remove_building {
  border-radius: 10em;
  font-size: 0.5em;
  opacity: 0.9;
}
/* Prevent user HTML input from screwing up view */
/* Specificity rules are very specific here */
html body .land_block img, .land_block img[style] {
  max-height: 50vh !important;
  max-width: 50vw !important;
}
html body .land_content_div, html body .land_content_div[style] {
  max-height: 200px !important;
  overflow: auto !important;
  width: 350px;
}
@media only screen and (max-device-width: 600px) {
  html body .land_block img, .land_block img[style] {
    max-height: 25vh !important;
    max-width: 25vw !important;
  }
  html body .land_content_div, html body .land_content_div[style] {
    max-height: 100px !important;
    overflow: auto !important;
    width: 150px;
  }
}

/* Chat */
#chat_parent {
  position: fixed;
  bottom: 5px;
  left: 5px;
  width: 20vw;
}
#chat_messages_parent {
  width: 20vw;
  overflow: hidden;
}
#chat_messages_box {
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  height: 25vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
#chat_messages_box.expanded {
  height: 80vh;
}
@media only screen and (max-device-width: 600px) {
  #chat_messages_box.expanded {
    height: 60vh;
  }
}
#chat_expand_button {
  opacity: 0.5;
}
/* Custom Chat Scroll Bar */
#chat_messages_box::-webkit-scrollbar {
  width: 12px;
}
#chat_messages_box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
#chat_messages_box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(256,256,256,0.5); 
}
#chat_input_parent {
  height: 35px;
}
a.message_link {
  color: #C1C10C;
}
@media only screen 
  and (max-device-width: 600px) {
  .chat_message:nth-child(-n+9) {
    display: none; 
  }
  #chat_messages_parent, #chat_input {
    width: 75vw;
  }
}

/* Overlay */
#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.9;
}
#overlay p {
  font-size: 2em;
  color: #222;
  position: absolute;
  text-align: center;
  top: 30vh;
  left: 40%;
  width: 20%;
  background: #fff;
  padding: 0.5em;
}
#loading {
    width: 50px;
}

/* Page Not Found */
.page_not_found_cont {
  background: #5555ee;
  height: 100vh;
}
.page_not_found_cont h3, .page_not_found_cont a, .page_not_found_cont a:hover {
  color: #eeeeee;
}